<h1>List of Harbours</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @harbours.each do |h| %>
      <tr>
        <td><%= h.name %></td>
        <td><%= h.address %></td>
        <td><%= h.city %></td>

        <td><%= link_to 'Show', harbour_path(h) %></td>
        <td><%= link_to 'Add a boat', edit_harbour_path(h) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
