<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row"><p>


    <h1>Boats available in <%=params[:harbour_search][:harbour_search].to_s.capitalize%> </h1><p><span class="bg-danger"><%=@message%><p></p>
</span>
    You searched a yacht welcoming with more than <span class="btn btn-default"><%=params[:boats_capacity_search]%></span> passengers - in
<span class="btn btn-default"><%=params[:harbour_search][:harbour_search]%></span>from <%= link_to "#", {class: "btn btn-default"} do %>

              <%=params[:start_date_search]%>
            <% end %>
            to <%= link_to "#", {class: "btn btn-default"} do %>
              <%=params[:end_date_search]%>
            <% end %>
<%= link_to "#", {class: "btn btn-default"} do %>
              Change my search criteria
            <% end %></p><p></p><p></p><hr><p></p>

    <div class="col-xs-12" >


    <table class="table table-striped">
      <thead>
        <tr>
          <th> Name of the Ship </th>
          <th>Available in</th>
          <th>Size (in meters)</th>
          <th>Capacity (passengers)</th>
          <th>Price per day</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
   <% @boats_selected.each do |boat| %>
      <tr>
        <td><%= boat.name %></td>
        <td><%= boat.harbour.name %><br>
          <%= boat.harbour.city %></td>
        <td><%= boat.capacity %></td>
        <td><%= boat.size %></td>
        <td><%= boat.price_per_day %></td>
        <td><%= boat.description %></td>
        <td><%= link_to 'More...', harbour_boat_path(boat.harbour, boat, {class: "btn btn-primary"}) %></span></td>
        <td><%= link_to 'Quick reservation', harbour_boat_path(boat.harbour, boat, {class: "btn btn-primary"}) %></span></td>
    <% end%>
      </tbody>
    </table>
    </div>
  </div>
</div>
