<p id="notice"><%= notice %></p>


<table class="table table_striped">
<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @boat.capacity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @boat.size %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @boat.price_per_day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @boat.description %>
</p>


</table>

<%= link_to 'Edit', edit_harbour_boat_path(@boat.harbour, @boat) %> |
<%= link_to 'Back', harbour_boats_path %>
